<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Cadastro de Vendedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [formGroup]="form">
  <ion-item>
    <ion-label position="stacked">Nome: </ion-label>
    <ion-input type="text" formControlName="nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">CPF: </ion-label>
    <ion-input type="text" formControlName="cpf" [brmasker]="{mask:'000.000.000-00', len:14}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Foto (URL): </ion-label>
    <ion-input type="url" formControlName="foto"></ion-input>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="salvar()" [disabled]="!form.valid">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
