ion-content {
    --padding-top: 40%;
    --padding-start: 10%;
    --padding-end: 10%;
}

button {   
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 19px;
    padding-right: 19px; 
    background-color: #04AA6D;
    color: #ffffff;
    border-color: #04AA6D;
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: 40px;
    width: 100%;
}
 
.input-group {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}
 
.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}